@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;   
}

.navbar {
   padding-bottom: 60px;
}

.container {
    padding: 0px 300px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: 0.8em;
}

.container .heading {
    padding: 50px 20px;
}

h1 {
    text-align: center;
}

.content {
    padding: 20px 20px;
}

.text-content {
    font-size: 200%;
    font-family: "Lato", sans-serif
}

.image-content{
    text-align: center;
}

.image-content img {
    width: 65%;
}